@model IEnumerable<Directorio.ENT.Persona>

@{
    ViewBag.Title = "Lista de Personas";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Registrar Persona","Crear")
<table>
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Nombre1)
            </td>
            <td>
                @Html.DisplayNameFor(c=>c.ApellidoPaterno)
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Registro in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@Registro.Nombre1, "Editar", new {Id=Registro.Id })
                </td>
                <td>
                    @Registro.ApellidoPaterno
                </td>
            </tr>
        }
    </tbody>
</table>
